.page-wrapper {
    margin-left: 270px;
    transition: .2s ease-in;
}

@media screen and (max-width:1279px) {
    .page-wrapper{
        margin-left: 0;
    }
}

body{
    background-color:#F0F5F9;
}

